### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

In [3]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

In [39]:
print_filtered_list = list(filter(lambda x: x != ' '*len(x), places))
print_filtered_list

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [5]:
# .sort(key=)
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

In [13]:
print_sorted_list = sorted(authors, key=lambda x: x.split()[-1])
print_sorted_list

['Andrew P. Garfield',
 'David HassELHOFF',
 'Connor Milliken',
 'Victor aNisimov',
 'Oprah wInfrey']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

In [17]:
from functools import reduce

places2 = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

In [19]:
farenheit = list(map(lambda x: (x[0], (9/5)*x[1]+32), places2))
farenheit

[('Nassau', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [ ]:
 if x = int (9/5)*x+32

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [ ]:
def f_sequence(n):
    if n < 0:
        print("Choose a positive interger!")
    elif n == 0: 
        return 0
    elif n == 1: 
        return 1
    
    else: 
        return f_sequence(n-1)+f_sequence(n-2)

n=int(input())
values = [str(f_sequence(x)) for x in range(0, n+1)]
print(",".join(values))

In [1]:
from functools import reduce

def f_sequence(f, n):
    return f(n)
    f = reduce(lambda x: x+[x[-1]+x[-2]], range[n-2], [0, 1])
    print(f(3))

In [7]:
def fibonacci(count):
    fib_list = [0, 1]
  
    any(map(lambda _: fib_list.append(sum(fib_list[-2:])), range(2, count)))
  
    return fib_list[:count]
count = int(input())

print(fibonacci(count))

4
[0, 1, 1, 2]